<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin}">

<head>
    <meta charset="UTF-8">
    <title>Nueva Caja</title>
    <th:block layout:fragment="styles">
         <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            
            .main-content {
                min-height: 100vh;
            }
         </style>
    </th:block>
</head>
<body>
    <!-- Contenido principal -->
    <div layout:fragment="content" class="main-content">
        <div class="card card-text">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title">Nueva caja</h4>
            </div>
            <form th:action="@{/caja/guardar}" method="post" th:object="${caja}">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Saldo Inicial</label>
                        <input type="number" step="0.01" min="0" th:field="*{saldoInicial}" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Usuario (opcional)</label>
                        <input type="text" th:field="*{usuario.nomb_usu}" class="form-control" readonly
                            th:if="${caja.usuario != null}" />
                    </div>
                    <div class="d-flex justify-content-end">
                        <a th:href="@{/caja/listado}" class="btn btn-outline-secondary me-2">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Abrir Caja</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Scripts específicos -->
    <th:block layout:fragment="scripts">
        <script th:fragment="js"></script>
    </th:block>
</body>
</html>